@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');

body{
    margin: 0;
    min-height: 100vh;
    background-image: url(../media/page_7.jpg);
    /* background-size: 100vw 100vh; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body:before{
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #4e3b3b, #3d0404);
    opacity: 0.2;
    z-index: -7;
}

.container{
    color: antiquewhite;
    background-color: rgba(5, 7, 12, 0.40);
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

h1{
    font-family: 'Montserrat Alternates', sans-serif;
}

.container h3{
    font-style: italic;
    font-size: 20px;
}

input{
    color: antiquewhite;
    background-color: #111;
    width: 80%;
    height: 40px;
    font-size: 18px;
    margin-bottom: 20px;
}

.next{
    text-decoration: none;
    border: 0;
    background-image: linear-gradient(
        150deg, 
        #9500ff,
        #09f,
        #00ddff
        );
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
    position: absolute;
    bottom: 0;
    right: 0;
}

.next span{
    background-color: #111;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
}

.next:hover span{
    background: none;
}

.next:active{
    transform: scale(0.9);
}

.goback{
    text-decoration: none;
    border: 0;
    background-image: linear-gradient(
        150deg, 
        #9500ff,
        #09f,
        #00ddff
        );
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
    position: absolute;
    bottom: 0;
    left: 0;
}

.goback span{
    background-color: #111;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
}

.goback:hover span{
    background: none;
}

.goback:active{
    transform: scale(0.9);
}